@import "tailwindcss";

@theme {

  --color-snow: #F9F9F9;
  --color-charcoal: #36454F;
  --color-gold: #C0A062;
  --color-taupe: #8B8589;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-heading {
  font-family: 'Cormorant Garamond', serif;
}